body {
	background-color: #fafafa;
}
.scoreboard {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 0px;
}
#gameboard {
	margin: 2% auto 0 auto;
}

.tile {
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #acacac;
	height: 7px;
	width: 7px;
	padding: 7px;
}
.on {
	background-color: royalblue;
}

.off {
	background-color: white;
}

.one {
	background-color: #e6ffe6;
}

.two {
	background-color: #4dff4d;
}

.three {
	background-color: #006600;
	border: 1px solid gold;

} 
.four {
	background-color:  #003300;
}

.five {
	background-color: #4d0000;
}