.on {
	background-color: royalblue;
}

.off {
	background-color: white;
}

.one {
	background-color: #e6ffe6;
}

.two {
	background-color: #66ff66;
}

.three {
	background-color: #006600;
	border: 1px solid gold;

} 
.four {
	background-color:  #003300;
}

.five {
	background-color: #4d0000;
}